<ng-container *ngIf="config$ | async as config">
  <ion-item [disabled]="disabled">
    <ion-label>Work time</ion-label>
    <ion-input type="number" [ngModel]="config.workTime" (ngModelChange)="change('workTime', $event)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.workTime" (ngModelChange)="change('workTime', $event)"
      [min]="5"
      [max]="60"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Break time</ion-label>
    <ion-input type="number" [ngModel]="config.breakTime" (ngModelChange)="change('breakTime', $event)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.breakTime" (ngModelChange)="change('breakTime', $event)"
      [min]="5"
      [max]="20"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Max Iteration</ion-label>
    <ion-input type="number" [ngModel]="config.maxIteration" (ngModelChange)="change('maxIteration', $event)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.maxIteration" (ngModelChange)="change('maxIteration', $event)"
      [min]="1"
      [max]="10"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Long Time Format</ion-label>
    <ion-checkbox [ngModel]="config.longTimeFormat" (ngModelChange)="change('longTimeFormat', $event)"></ion-checkbox>
  </ion-item>
</ng-container>
