<div *ngIf="config$ | async as config" [ngStyle]="{'height': open ? '24rem' : '0'}" class="smooth-collapse">
  <ion-item [disabled]="disabled">
    <ion-label>Work time</ion-label>
    <ion-input type="number" [ngModel]="config.workTime / 60" (ngModelChange)="change('workTime', $event * 60)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.workTime / 60" (ngModelChange)="change('workTime', $event * 60)"
      [min]="5"
      [max]="60"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Break time</ion-label>
    <ion-input type="number" [ngModel]="config.breakTime / 60" (ngModelChange)="change('breakTime', $event * 60)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.breakTime / 60" (ngModelChange)="change('breakTime', $event * 60)"
      [min]="5"
      [max]="20"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Max Iteration</ion-label>
    <ion-input type="number" [ngModel]="config.maxIteration" (ngModelChange)="change('maxIteration', $event)"></ion-input>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-range
      [ngModel]="config.maxIteration" (ngModelChange)="change('maxIteration', $event)"
      [min]="1"
      [max]="10"
    ></ion-range>
  </ion-item>
  <ion-item [disabled]="disabled">
    <ion-label>Long Time Format</ion-label>
    <ion-checkbox [ngModel]="config.longTimeFormat" (ngModelChange)="change('longTimeFormat', $event)"></ion-checkbox>
  </ion-item>
</div>
